.projectBackground {
    background-color: var(--main);
}

.goBack {
    font-family: OpenSansRegular;
    color: black;
    text-decoration: underline;
}

.goBack:hover {
    opacity: 0.6;
}

.projectHeader {
    padding: 6.25em 0 6.25em 0;
}

.projectTags {
    font-family: RobotoMonoRegular;
    font-size: 18px;
    color: #a6a6a6;
    margin-top: 0.5em;
}

.projectAbout {
    margin-top: 2em;
}

.projectImageShowcase {
    margin-top: 3.125em;
}

.projectImageDescription {
    font-family: OpenSansRegular;
    font-size: 16px;
    color: #a6a6a6;
    margin-top: 0.5em;
}

.externalLinksContainer {
    margin-top: 6.25em;
}

.externalProjectLinks a {
    color: var(--white);
    text-decoration: none;
}

.arrowExternal {
    margin-left: 1em;
  }

/* media queries */
@media screen and (max-width: 991px) {
    .projectImageShowcase div:first-of-type {
        width: 100% !important;
    }
    p.projectAbout {
        width: 100% !important;
    }
}

@media screen and (max-width: 376px) {
    .aboutLinksExternal a {
        padding: 0;
    }
    .aboutLinksExternal a img {
        margin: 1em 1em 0 1em;
    }
}

@media screen and (max-width: 767px) {
    .goBack {
        text-align: center;
    }
}

@media screen and (max-width: 384px) {
    .aboutLinksExternal {
        margin-left: unset;
    }
}