* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* Colors */
:root {
    --main: #eee;
    --white: #fff;
    --primary: #6658bf;
    --button: #7e6ded;
}

/* Fonts */
/* Roboto Mono */
@font-face {
    font-family: RobotoMonoLight;
    src: url(../inc/fonts/RobotoMono/static/RobotoMono-Light.ttf)
        format("truetype");
}

/* 400 */
@font-face {
    font-family: RobotoMonoRegular;
    src: url(../inc/fonts/RobotoMono/static/RobotoMono-Regular.ttf)
        format("truetype");
}
/* 700 */
@font-face {
    font-family: RobotoMonoBold;
    src: url(../inc/fonts/RobotoMono/static/RobotoMono-Bold.ttf)
        format("truetype");
}

/* Open Sans */
/* 300 */
@font-face {
    font-family: OpenSansLight;
    src: url(../inc/fonts/OpenSans/static/OpenSans-Light.ttf) format("truetype");
}

/* 400 */
@font-face {
    font-family: OpenSansRegular;
    src: url(../inc/fonts/OpenSans/static/OpenSans-Regular.ttf)
        format("truetype");
}
/* 700 */
@font-face {
    font-family: OpenSansBold;
    src: url(../inc/fonts/OpenSans/static/OpenSans-Bold.ttf) format("truetype");
}

/* Components */
.button {
    font-family: OpenSansBold;
    font-size: 16px;
    background-color: var(--button);
    width: fit-content;
    padding: 16px 30px;
    border-radius: 30px;
    text-align: center;
    display: flex;
    align-items: center;
}

.button a {
    text-decoration: none;
    color: var(--white);
}

.button:hover {
    opacity: 0.8;
}

/* Header */
header {
    height: 100dvh;
    background-color: var(--main);
}

.headerContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Header image and backdrop */
.subjectContainer {
    display: grid;
    grid-template-rows: 80%;
    grid-template-columns: 70%;
    justify-content: center;
}

.imageBackdrop {
    width: 80%;
    height: 70%;
    border-radius: 40px;
    background-color: var(--primary);
    grid-area: 1 / 1 / 2 / 2;
    justify-self: center;
    align-self: center;
}

.itsme {
    width: 100%;
    grid-area: 1 / 1 / 2 / 2;
    z-index: 1;
    align-self: flex-end;
}

.aboutLinks {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.aboutLinks a {
    color: var(--white);
    text-decoration: none;
}

.aboutLinksExternal {
    margin-left: .5em;
}

.aboutLinksExternal a {
    text-decoration: none;
    padding: .5em;
}

.arrowDownIcon {
    width: 14px;
    margin-left: 1em;
}

.arrowAnimContainer {
    position: absolute;
    bottom: 2em;
    left: 0;
    right: 0;
}

/* About */
#about {
    background-color: var(--white);
    padding: 6.25em 0 6.25em 0;
}

.experienceTable {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 3.125em;
}

.tableTitle {
    font-family: RobotoMonoRegular;
    font-size: 20px;
    color: #929292;
    margin-bottom: 0.5em !important;
}

.experienceTableDivider {
    color: var(--primary);
    background-color: var(--button);
    border: none;
    height: 2px;
    opacity: 1;
    margin: 2em 0 2em 0;
}

.experience {
    display: flex;
    border-bottom: 1px solid #d8d8d8;
    padding: 1.5em 0 1.5em 0;
}

.experience:nth-child(7),
.experience:last-of-type {
    border-bottom: unset;
    padding: 1.5em 0 0 0;
}

.experienceYear {
    font-family: OpenSansBold;
    margin-bottom: 0;
    flex-grow: 1;
}

.experienceTitle {
    margin-bottom: 0;
}

.languages-software-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 6.25em;
}

.languages-software-icons img {
    padding: 1em;
}

/* Projects */
#projects {
    background-color: var(--main);
    padding: 6.25em 0 6.25em 0;
}

.projectBlock {
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 440px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    display: flex;
    align-items: center;
}

.projectBlockOptional {
    text-align: center;
    color: #fff;
    width: 100%;
    height: 440px;
    border-radius: 25px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
}

.projectBlock:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s ease;
}

#projects a {
    text-decoration: none;
}

#project1 {
    background-image: url(../inc/images/covers/project_indischpraten.png);
}
#project2 {
    background-image: url(../inc/images/covers/project_insideoutdoor.png);
}
#project3 {
    background-image: url(../inc/images/covers/project_bychasseur.png);
}
#project4 {
    background-image: url(../inc/images/covers/project_VRimmersive.jpg);
}
#project5 {
    background-image: url(../inc/images/covers/project_behavioural.png);
}
#project6 {
    background-image: url(../inc/images/covers/project_fitwithmit.png);
}

/* Typography */
h1,
h2,
h3 {
    font-family: RobotoMonoBold;
    margin-bottom: 0 !important;
}

h3 {
    font-size: 24px !important;
}

p {
    font-family: OpenSansRegular;
    margin-bottom: 0 !important;
}

.headerBlack {
    color: #000;
}

.headerWhite {
    color: #fff;
}

/* Footer */
footer {
    background-color: var(--primary);
    padding: 6.25em 0 6.25em 0;
}

.footerContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.footerMail {
    font-family: RobotoMonoLight;
    color: var(--white);
    font-size: 24px;
    text-decoration: underline;
    width: fit-content;
}

.footerMail:hover {
    opacity: 0.7;
}

.footerIcons a {
    margin-right: 1em;
}

.footerIcons a:last-of-type {
    margin-right: 0;
}

.aboutLinksExternal a:hover,
.projectExternalLinks a:hover,
.footerIcons a:hover {
    opacity: 0.8;
}

.copyright {
    color: var(--white);
}

/* media queries */
@media screen and (max-width: 991px) {
    .projectContainer {
        grid-auto-flow: row;
        grid-template-columns: unset;
    }
    .projectContainer .projectImg {
        display: none;
    }
    .projectExternalLinks {
        justify-content: center;
    }
    .projectContainer .button {
        padding: 8px 60px;
    }
}
@media screen and (max-width: 767px) {
    h1,
    h2,
    h3,
    p {
        text-align: center;
    }
    .intro {
        margin-bottom: 3em;
    }
    .aboutLinks {
        justify-content: center;
    }
    .container p {
        width: 100% !important;
    }
    .tableTitle {
        text-align: left;
    }
    .experienceTable .experience p.experienceYear {
        text-align: start;
    }
    .experienceTable .experience p.experienceTitle {
        text-align: right;
    }
    .languages-software-icons {
        margin-top: 4em;
    }
    .languages-software-icons img {
        padding: 1em;
    }
    footer {
        text-align: center;
    }
    .footerMail {
        width: 100%;
    }
    .subjectContainer {
        display: none;
    }
    .arrowAnim {
        display: none !important;
    }
    .footerMail {
        font-size: 20px;
    }
}

@media screen and (max-width: 380px) {
    .footerMail {
        font-size: 16px;
    }
}

@media screen and (max-width: 338px) {
    .aboutLinksExternal {
        margin-left: unset;
    }
}

@media screen and (max-width: 329px) {
    .aboutLinksExternal a {
        padding: 0;
    }
    .aboutLinksExternal a img {
        margin: 1em 1em 0 1em;
    }
}

@media screen and (max-height: 700px) {
    .intro {
        margin-bottom: 0;
    }
    .intro p {
        margin-bottom: 1em !important;
    }
    .arrowAnim {
        display: none !important;
    }
}